@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
}
/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    outline: 0;
}

/********************************
    Border Box
********************************/
* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

/********************************
    Clearfix
********************************/
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";

    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

/********************************
    4 Column Grid
********************************/
.col-1 { width: 280px; }
.col-2 { width: 560px; }
.col-3 { width: 840px; }
.col-4 { width: 1120px; }

/*#ffffff бяло
#000000 черно*/

/*service classes*/
.wrapper {
    margin: 0 auto;
}

.float-left,
.float-right {
    position: relative;
    display: block;
    float: left;
}

.float-right {
    float: right;
}

/*header*/

.header {
   background: #87509c;
   padding: 58px 0 148px 0;
   text-align: center;
}

.holding-nav-logo {
    margin: 0 0 145px 0;
}

.logo {
    display: block;
    margin: 0 0 0 50px;
    width: 117px;
    height: 37px;
    background: url(../img/logo.png) no-repeat 0 0;
    text-indent: -9999px;
}

.main-nav {
    font-size: 0;
}

.main-nav-link {
    display: inline-block;
    padding: 15px 10px;
    margin: 0 0 0 15px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 3px;
}

.main-nav-link.active,
.main-nav-link:hover {
    background: #643a79;
}

.heading-cta {
    display: block;
    margin: 0 0 50px 0;
    font-size: 42px;
    line-height: 49px;
    color: #f7f3ea;
}

.link-cta {
    display: inline-block;
    padding: 29px 82px 25px 82px;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    background: #eb7d4b;
    border-radius: 3px;
    border-bottom: 4px solid #c86a40;
}

.link-cta:hover {
    border-bottom-color: #eb7d4b;
}
.portfolio {
    display: block;
    background-color: #ffdd99;
    font-weight: bold;
    padding-top: 115px;
    padding-bottom: 90px;
}
.our-porfolio {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding-bottom: 24px;
}
.line {
    background-color: rgb( 229, 195, 127 );
    width: 87px;
    height: 4px;
    margin: 0 auto;
    margin-bottom: 21px;
}
.secondary-heading {
    text-align: center;
    font-size: 18px;
}
.portfolio-nav {
    text-align: center;
    padding: 40px 0px 60px 0;
}
.links-in-portfolio {
    color: rgb(57, 57, 57);
    display: inline-block;
    font-size: 18px;
    line-height: 1.083;
    text-align: center;
    padding: 10px 25px;
    background-color: #ebc985;
    margin: 6px;
    border-radius: 3px;
}
.active-link {
    background-color: white;
}
.links-in-portfolio:hover {
    background-color: white;
}
.pc-img {
    width: 100%;
    padding: 0px 10px 30px 10px;
}

.text-below-images {
    font-size: 18px;
    color: rgb( 57, 57, 57 );
    line-height: 1.083;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 65px;
}
.link-cta-green {
    display: inline-block;
    padding: 29px 82px 25px 82px;
    font-size: 13.403px;
    line-height: 1.455;
    color: #ffffff;
    width: 295px;
    background: #17c2a4;
    border-radius: 3px;
    border-bottom: 4px solid #14a58c;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
}
.pink-section {
    display: block;
    background-color: #d74680;
    color: #ffffff;
    font-weight: bold;
    padding-top: 115px;
    padding-bottom: 90px;
}
.Line {
    background-color: #b73c6d;
    width: 87px;
    height: 4px;
    margin: 0 auto;
    margin-bottom: 21px;
}
.pink-section {
    background-color: #d74680;
    padding: 120px 0 50px 0;
    text-align: center;
}
.base2 {
    border-radius: 50%;
    background-color: rgb(120, 120, 120);
    width: 96px;
    height: 96px;
    display: inline-block;
    float: left;
    margin-left: 20px;
}
.base2-right {
    border-radius: 50%;
    background-color: rgb(120, 120, 120);
    width: 96px;
    height: 96px;
    display: inline-block;
    float: left;
    margin-left: 40px;
}
.nullam {
    font-size: 17.5px;
    color: white;
    line-height: 1.486;
    padding:10px 20px 30px 45px;
    width: 370px;
}
.name-of-star {
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.083;
    text-align: left;
    padding:0 20px 0 45px;
}
.found {
    font-size: 18px;
    color: rgb(255, 221, 153);
    line-height: 1.444;
    text-align: left;
    padding:0 20px 0 45px;
}
.wrap-in-left {
    float: left;
}
.wrap-content {
    margin: 70px 0 80px;
}
.footer {
    background-color: #344b8e;
}
.media-social {
    padding: 40px 100px;
}
.social {
    font-size: 24px;
    color: white;
    font-family:'Myriad Pro Regular';
    font-weight:normal;
    line-height: 1.246;
    text-align: center;
    width: 14.2%;
    float: left;
}
footer a:hover {
    color: #30bae7;
}

/*MEDIA QUERIES FOR RESPONSIVE DESIGN*/
@media screen and (max-width: 1200px) {
    .col-1 {width: 25%;}
    .col-2 {width: 50%;}
    .col-3 {width: 75%;}
    .col-4 {width: 100%;}
}
@media screen and (max-width: 900px) {
    .col-1 {width: 50%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .base2-right {margin-left: 0px;}
    .base2 {margin-left: 0px;}
    .social { width: 24%;}
}
@media screen and (max-width: 600px) {
    .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .social { width:33.3%;}
}

